/* Css Component Timer LapList */
.timer-laps {
    width: 100%;
    
}
.timer-laps ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    
}
.timer-laps li {
    border-bottom: 1px solid  #333;
    padding: 8px 16px;
    
}
.timer-laps li:nth-child(odd){
    background-color: #ddd;
    
}